root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{csproj,props,targets,xaml,manifest}]
indent_size = 2

[*.cs]
dotnet_diagnostic.IDE0005.severity = warning
csharp_new_line_before_open_brace = all
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false
csharp_prefer_braces = true:warning
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
