<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DefaultDataFlow>eRender</DefaultDataFlow>
  <DefaultMultimediaAndComm>false</DefaultMultimediaAndComm>
  <ColorVU>false</ColorVU>
  <ShowHardwareName>true</ShowHardwareName>
  <QuickSwitchEnabled>false</QuickSwitchEnabled>
  <QuickSwitchShowOSD>true</QuickSwitchShowOSD>
  <OSD Skin="Default" Left="61" Top="26" ClosingTimeout="1300" Transparency="255" />
  <VolumeScroll Key="LWin" ShowOSD="true" Enabled="false" />
</Settings>